body {
  margin: 0px;
}
.delgerengui {
  background-color: rgba(0, 0, 0, 0.3);
  width: 263px;
  height: 175px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  z-index: 0;
}
.delgerengui-hev{
  background-color: rgba(0, 0, 0, 0.3);
  width: 264px;
  height: 230px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  z-index: 0;}

.delgerengui-ontsloh {
  background-color: rgba(0, 0, 0, 0.3);
  width: 290px;
  height: 170px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  z-index: 0;
}
.delgerengui-tec{
  background-color: rgba(0, 0, 0, 0.3);
  width: 263px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  z-index: 0;}
.delgerengui-medee {
  background-color: rgba(0, 0, 0, 0.3);
  width: 210px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  z-index: -1;
}
.delgerengui-comic {
  background-color: rgba(0, 0, 0, 0.2);
  width: 542px;
  height: 330px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  z-index: -1;
}
.delgerengui-video {
  background-color: rgba(0, 0, 0, 0.5);
  width: 263px;
  height: 175px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  z-index: -1;
}
.delgerengui-video img{
  
}
.video-hover{
  position: relative;
  overflow: hidden;

}
.video-hover:hover .delgerengui-video{
  opacity: 1;
  z-index: 1;
}
.video-hover:hover .hover-zurag{
  transform: scale(1.1);
}
.delgerengui-video img {
  max-width: 24px;
  max-height: 24px;
}

.tec-hover{
  position: relative;
  overflow: hidden;
}
.tec-hover:hover .tec-card-top{
  transform: scale(1.1);
  border-radius: 10px;
}
.tec-hover:hover .delgerengui-tec{
  opacity: 1;
  z-index: 1;
}
.comic-hover:hover .delgerengui-comic{
  opacity: 1;
  z-index: 1;
}
.comic-hover:hover .comic-card-img{
  transform: scale(1.2);

}
.comic-hover{
  position: relative;
  overflow: hidden;
}
.ontsloh-hover {
  position: relative;
}
.hevmayg-hover:hover .hevmayg-card-img{
   transform: scale(1.1);
}
.hevmayg-hover:hover .delgerengui-hev{
  opacity: 1;
  z-index: 1;
}
/* .medee-hover:hover > .medee-img {
  scale: 1.1;
} */
.zurag-out:hover > .delgerengui {
  opacity: 1;
}
.zurag-out:hover > .card-img {
  scale: 1.1;
}
.card-img {
  width: 263px;
  height: 175px;
  overflow: hidden;
}
.zurag-out {
  position: relative;
  overflow: hidden;
}

.body-a {
  background-color: #f0efef;
}
.flex {
  display: flex;
}
.page1 {
  width: 1200px;
  flex-direction: column;
  background: linear-gradient(180deg, #fff, #f7f7f7);
  margin: auto;
}
.page2 {
  width: 1200px;
  flex-direction: column;
  margin: auto;
}
.border-radius10px {
  border-radius: 10px;
}
.margin-0 {
  margin: 0;
}

nav {
  width: 100%;
  min-height: 88px;
  justify-content: space-between;
}
.navbar-left {
  flex-direction: row;
  justify-content: center;
}
.navbar-menu {
  flex-direction: row;
  gap: 10px 0px;
  justify-content: center;
  min-height: 88px;
  gap: 0px 10px;
}
.dollar {
  color: #a2db00;
  font-size: 18px;
}
.navbar-texts {
  font-size: 16px;
}
.nav-icon {
  width: 24px;
  height: 24px;
}
.navbar-texts {
  font-size: 20px;
  flex-direction: row;
}
.nav-left-text {
  font-size: 20 px;
}
.navbar-text {
  font-size: 18px;
  margin: 0px;
}
.opacity {
  opacity: 0.1;
}
.navbar-right {
  flex-direction: row;
  min-height: 36px;
  gap: 0px 10px;
}
.mini-card-down {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 30px;
}
.nav-mini-card {
  max-height: 50px;
}
.main-top {
  gap: 40px 0px;
  flex-direction: column;
  border-radius: 30px;
  position: relative;
}
.main-img {
  width: 100%;
  border-radius: 5px;
  position: relative;
}
.undag-hover:hover ~ .main-img-hover{
  background-image: url(https://mgl.gogo.mn/newsn/thumbnail/1000/images/ck/2023/10/03/8-140559-186930180720231003140603.jpeg);
  opacity: 1;
  z-index: 3;
  transition: 500ms;
  animation-timing-function: cubic-bezier(100ms 300ms 400ms 500ms);
}
.yariltslaga1:hover  .grid-img1{
  scale: 1.1;
  transition: 500ms;

}
.grid-img:hover {
  scale: 1.1;
  transition: 500ms;
}
.main-img-hover{
  position: absolute;
  top:0px;
  left: 0px;
  opacity: 0;
  z-index: -1;
  width: 1200px;
  height: 502px;


}
.main-text {
  flex-direction: column;
  justify-content: space-between;
}
.main-texts {
  flex-direction: row;
  max-height: 385px;
  padding-left: 60px;
}
.main-header {
  font-weight: 700;
}
.main-text-meddeg {
  font-weight: 80px;
  background: linear-gradient(129deg, #c40097, #d6710b);
  background-image: linear-gradient(-120deg, #e08100, #c90027);
  border-radius: 100px;
  padding: 8px 15px;
  line-height: 20px !important;
  font-size: 12px !important;
  color: #fff;
  font-weight: 700;
  width: 170px;
  justify-content: center;
  align-items: center;
}
.main-under-img {
  height: 385px;
}

.main-under-text {
  min-height: 48px;
  font-weight: 500;
  font-size: 13px !important;
  opacity: 0.4;
}
.main-icons {
  flex-direction: row;
  gap: 0px 20px;
  width: 60px;
}
.zurag-out {
  position: relative;
}
.main-cards {
  flex-direction: row;
  gap: 0px 30px;
  margin-top: 30px;
  margin-left: 30px;
}
.card-img {
  max-width: 263px;
  height: 175px;
  border-radius: 5px;
  position: relative;
}
.card-right-img {
  width: 263px;
  height: 270px;
  border-radius: 5px;
}
.main-icon {
  flex-direction: row;
  background-color: #f0efef;
  border-radius: 100px;
  padding: 5px 10px;
  border: 1px solid transparent;
  gap: 0px 5px;
  height: 24px;
  justify-content: center;
  align-items: center;
}
.main-uner-icon {
  flex-direction: row;
  background-color: #f0efef;
  border-radius: 100px;
  padding: 5px 10px;
  border: 1px solid transparent;
  gap: 0px 5px;
  height: 18px;
  justify-content: center;
  align-items: center;
}
.main-card {
  flex-direction: column;
  max-width: 263px;
  max-height: 283px;
}
.card-text {
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.4s ease-in-out;
  min-height: 44px;
  font-size: 14px !important;
  line-height: 22px !important;
}
.background-blue {
  background-color: #00b0f4;
  color: white;
  width: 67px;
  min-height: 25.5;
  font-size: 18px;
  padding: 2px 3px;
  border-radius: 3px;
}
.story-top-header {
  flex-direction: row;
  align-items: center;
  font-size: 26px;
  font-weight: 700;
  color: black;
}
.story-img {
  width: 188px;
  height: 287px;
  border-radius: 10px;
}
.story-in {
  position: relative;
  width: 188px;
  height: 287px;
  overflow: hidden;
}

.story-logo,
.story-title {
  position: absolute;
  border-radius: 10px;
}

.story-logo {
  height: 30px;
  width: 30px;
  left: 10px;
  top: 10px;
  right: 0;
}
.story-title {
  bottom: 5;
  left: 5px;
  font-size: 13px;
  color: white;
}
.story-icon {
  color: white;
}
.story {
  flex-direction: row;
  gap: 0px 20px;
  margin-left: 10px;
  overflow-x: scroll;
  width: 1200px;
}

.calendar-list {
  flex-direction: row;
  margin-top: 20px;
  gap: 0px 15px;
}
.calendar-list-item:hover .calendar-line {
  background-color: #00b0f4;
}
.calendar-list-item:hover .onoodor {
  color: #00b0f4;
}
.story-in:hover .story-img {
  scale: 1.1;
}
.story-in:hover .story-title {
  scale: 1.1;
}
.calendar-list-item:hover .calendar-day {
  color: #00b0f4;
}
.margin-top {
  margin-top: 59.9px;
}

.onoodor {
  color: #b7b6b6;
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 700;
}
.calendar-line {
  background-color: #efefef;
  height: 7px;
  border-radius: 20px;
}
.calendar-day {
  color: #b7b6b6;
  font-size: 13px;
  text-align: center;
}
.width {
  width: 103px;
}
.medee {
  flex-direction: row;
}
.medee-in {
  flex-direction: row;
  height: 171px;
}
.medee-right {
  width: 400px;
  margin-top: 100px;
  border-left: 1px dotted #b7b6b6;
}
.margin-right100 {
  margin-right: 150px;
}
.medee-undersec {
  flex-direction: row;
  width: 290px;
  height: 20px;
}
.hevmayg-cards {
  flex-direction: row;
  gap: 0px 30px;
  overflow-x: scroll;
}
.hevmayg {
  flex-direction: column;
  gap: 10px 0px;
}
.hevmayg-card-under {
  flex-direction: row;
  height: 20px;
  width: 200px;
}

/* .medee-card:hover {
  overflow: hidden;
} */

.medee-card:hover .medee-img {
  transform: scale(1.1);
}
.medee-card:hover .delgerengui-medee {
  opacity: 1;
  z-index: 20;
}

.medee-hover {
  height: 150px;
  width: 210px !important;
  position: relative;
  overflow: hidden;
}
.ontsloh-hover{
  position: relative;
  overflow: hidden;

}
.medee-img {
  height: 100%;
  width: 100%;
}
.ontsloh-hover:hover .delgerengui-ontsloh{
  opacity: 1;
  z-index: 1;
}
.ontsloh-hover:hover .ontsloh-img{
  transform: scale(1.1);
}
.list-text {
  font-size: 20px;
}
.medee-list {
  gap: 10px 0px;
  flex-direction: column;
}
.ontsloh-img {
  height: 170px;
  width: 290px;
}
.ontsloh-medee {
  height: 30px;
  font-size: 20px;
}
.ontsloh-top {
  flex-direction: row;
  align-items: center;
}
.medee-left {
  gap: 40px 0px;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-gap: 20px;
  width: 1200px;
  grid-template-areas:
    " big big top-left top-right"
    " big big bottom-left bottom-right";
}
.yariltslaga1 {
  grid-area: big;
  overflow: hidden;

}
.yariltslaga2 {
  grid-area: top-left;
  overflow: hidden;
}
.yariltslaga3 {
  grid-area: top-right;
  overflow: hidden;
}
.yariltslaga4 {
  grid-area: bottom-left;
  overflow: hidden;
}
.yariltslaga5 {
  grid-area: bottom-right;
  overflow: hidden;
}
.grid-img1 {
  width: 580px;
  height: 504px;
}
.grid-img {
  width: 285px;
  height: 255px;
}
.relative {
  position: relative;
}
.yriltslaga-in {
  position: absolute;
  bottom: 25px;
  left: 20px;
}
.yriltslaga-small {
  position: absolute;
  bottom: 16px;
  left: 10px;
}
.yriltslaga-in h4 {
  background-color: #407ce8;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 2px 5px;
  width: 80px;
  text-align: center;
}
.border-radius5px {
  border-radius: 5px;
}
.grid-text {
  flex-direction: row;
  margin-top: 100px;
}
.yriltslaga-small h4 {
  background-color: #407ce8;
  color: white;
  font-size: 1opx;
  font-weight: 700;
  padding: 2px 5px;
  width: 80px;
  text-align: center;
}
.yriltslaga-in h3 {
  color: white;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
.yriltslaga-small h3 {
  color: white;
  font-size: 10px;
  font-weight: 700;
  margin: 0;
}
.yriltslaga-in div {
  color: white;
  padding-top: 10px;
  font-weight: 700;
  border-top: 1px solid hsla(0, 0%, 100%, 0.15);
  font-size: 20px;
}
.yriltslaga-small div {
  color: white;
  padding-top: 10px;
  font-weight: 700;
  border-top: 1px solid hsla(0, 0%, 100%, 0.15);
  font-size: 16px;
}
.hevmyg-text {
  flex-direction: row;
  align-items: center;
  font-size: 40px;
  gap: 0px 20px;
}
.hevmayg-card-img {
  width: 264px;
  height: 230px;
}
.comic-card-img {
  width: 542px;
  height: 330px;
}
.hevmayg-card {
  width: 264px;
  height: 360px;
  border: 1px dotted gray;
}
.hevmayg-card-text {
  margin-left: 16px;
  gap: 40px 0px;
  flex-direction: column;
}
.hevmayg-card-text h4 {
  font-size: 20px;
  margin: 0;
}
.hevmyg {
  flex-direction: row;
  align-items: center;
}
.hevmyg-text div {
  background-color: #00b0f4;
  font-size: 18px;
  color: white;
  padding: 2px 3px;
  border-radius: 3px;
}
.tec-card {
  width: 263px;
  height: 300px;
  border: 1px dotted gray;
}
.comic-card {
  width: 542px;
  height: 330px;
  flex-direction: row;
  gap: 0px 60px;
}
button {
  width: 759px;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  gap: 0px 10px;
}
button img {
  width: 40px;
  height: 40px;
}
.tec-text {
  font-size: 26px;
  align-items: center;
}
.comic-text {
  font-size: 26px;
  align-items: center;
}
.tec-card-under {
  flex-direction: row;
  height: 20px;
  width: 200px;
  gap: 5px 5px;
}

.comic-card-under {
  flex-direction: row;
  height: 20px;
  width: 200px;
  gap: 5px 5px;
}
.comic-card-text{
  border: 1px solid gray;
  border-radius: 5px;
  flex-direction: column;
  padding: 10px;

}
.hevmayg-hover{
  position: relative;
  overflow: hidden;
}
.tec-card-top {
  width: 263px;
  height: 150px;
  border-radius: 10px;
}
.comic-card-top {
  width: 263px;
  height: 150px;
  border-radius: 10px;
}
.comic-card {
  border: 1px solid gray;
}
.tec {
  margin-top: 50px;
  overflow-x: scroll;
}
.comic {
  margin-top: 50px;
  margin-lef: 20px;
}
.tec-cards {
  flex-direction: row;
  gap: 0px 30px;
}
.comic-cards {
  flex-direction: row;
  gap: 0px 30px;
}
.page3 {
  margin-top: 150px;
  background-color: #1a1a1a;
  display: block;
  width: 100vw;
  justify-content: center;
}
.page3-in {
  justify-content: center;
}
.video {
  gap: 40px 0px;
  flex-direction: column;
  justify-content: center;
}
.video-bottom {
  flex-direction: row;
  gap: 0px 40px;
}
.video-midle {
  flex-direction: row;
  gap: 0px 40px;
}
.video-card h3 {
  color: white;
}
.video-top {
  align-items: center;
  font-size: 20px;
  color: white;
}
.video-card {
  width: 263px;
}
.video-card img {
  width: 263px;
}
.video-card-under {
  width: 200px;
  height: 20px;
  color: white;
}
.video-card-under img {
  width: 30px;
  color: white;
}
footer {
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.footer-in {
  width: 1200px;
  justify-content: space-between;
}
.footer-text {
  flex-direction: row;
  flex-wrap: wrap;
  width: 600px;
  justify-content: flex-end;
}
.footer-texts {
  font-size: 16px;
}
.main-under{
  overflow: hidden;
}
.footer-icon {
  width: 40px;
  height: 40px;
}
@media screen and (max-width:960px ) {
  .navbar-menu{
    display: none;
  }
  nav{
    justify-content: start;
  }
  .navbar-right .nav-mini-card{
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 5px;
  }
  .navbar-left ul{
    display: none;
  }
  .navbar-logo img{
    width: 90px;
    height: 43px;
  }
  .main-img{
    display: none;
  }
  .main-cards{
    display: none;
  }
  .gogo-story{
   margin-left: 50px;
  }
  .calendar-list{
    display: none ;
  }
  .grid-text{
    display: none;
  }
  .hevmayg{
    display: none;
  }
  .tec{
    display:none
  }
  .comic{
    display: none;
  }
  .video{
    display: none;
  }
  .page3{
    display: none;
  }
  .medee-right{
    display: none;
  }
  .medee-list{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px 30px;

  }
  .story-in{
    width: 200px;
  }
  .medee-in{
    margin: 0;
    width: 442px;
    height: 260px;
  }
  .body-a{
    height: 513px;
  }
  .medee{
    
  }
  .page1{
    width: 100vw;
  }
  .main-underimg{
   display: none;
  }
  .page2{
    width: 100vw;
  }
  .grid-container {
    display: none;
  }
  .none{
    display: block;
  }
  .grid-img{
    min-width: 505px;
    min-height: 337px;
  }
  .yriltslaga-in{
    width: 100vw;
  }
  .yriltslaga-in h3{
    width: 100vw;
  }
  .footer-in{
    width: 100vw;
    margin-left:50px;
  }
  button{
    width: 100vw;
  }
  .main-img-hover{
    display: none;
  }
  .medee-list{
    margin-left: 50px;
  
  }
  nav{
    margin-left: 50px;
  }
  
  
}
@media screen and (max-width: 400px) { 
  .medee-list{
    flex-direction: column;
  }
  .medee-list{
    margin-left: 30px;
  }
  nav{
    margin-left: 50px;
  }
  .main-img-hover{
    display: none;
  }
  button{
    width: 100vw;
  }
  .main-underimg{
   display: none;
  }
  .story{
    overflow: scroll;
  }
  nav{
    padding-left: 50px;
    margin-top: 50px;
  }
  .footer-in{
    width: 100vw;
    margin-left: 50px;
  }
  .main-under-img{
    display: none;
  }
  .medee-in{
    width: 100vw;
  }
  .main-texts{
    flex-direction: column;
    height: 100vh;
  }
  .body-a{
    height: 100vh;
  }
  
}
.none{
  flex-direction: row;
  justify-content: space-between;
  display: none;
}
.medee-text{

}
